.start-logo-menu{
    display: flex;
    align-items: center;
    padding-left: px;
    gap: 20px;
}

.start-logo-menu > i {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
}

.start-logo-menu > i:hover{
  background-color: rgb(31, 30, 30);
}

/*logo youtube*/
.start-logo-menu .logo-icon {
  display: flex;
  align-items: center;
  width: 90px;
  height: auto;
  cursor: pointer;
}
